<header>
  <img src="/assets/images/photos/me.jpg">
  <div style="padding-top: 10px;text-align: center;">
    <p style="font-size:1.5rem;margin-bottom:0;">Fankun Zeng</p>
    <div><small class="text-muted" style="font-size:14px">Research Assistant, WashU</small></div>
    <div><small class="text-muted" style="font-size:14px">Master of Computer Science, WashU</small></div>
    <ul class="list-inline" style="margin-top:5px">
      <li class="list-inline-item">
        <a href="{{'/' | relative_url }}"><i class="fas fa-home"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="mailto:fankun@wustl.edu"><i class="far fa-envelope"></i></a>
      </li>
    </ul>
  </div>
</header>