<header>
  <div class="content">
    <h1>
      <a href="{{'/' | relative_url }}">Fankun Zeng</a>
    </h1>
    <img src="{{ page.photo | relative_url }}">
    <div>
      <small class="text-muted">{{ member.role }}</small>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="{{'/' | relative_url }}"><i class="fas fa-home"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="mailto:fankun@wustl.edu"><i class="far fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>
</header>