<header>
  <img src="{{ page.photo | relative_url }}">
  <div style="padding-top: 10px;text-align: center;">
    <p style="font-size:1.5rem;">Fankun Zeng</p>
    <small class="text-muted">Master of Computer Science, WashU</small>
    <ul class="list-inline" style="margin-top:5px">
      <li class="list-inline-item">
        <a href="{{'/' | relative_url }}"><i class="fas fa-home"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="mailto:fankun@wustl.edu"><i class="far fa-envelope"></i></a>
      </li>
    </ul>
  </div>
</header>