---
layout: default
description: Template for publications page
---

{{content}}

{% for year in site.data.pubyears %}
  <h3>{{ year }}</h3>

  {% for pub in site.data.publications %}
    {% if pub.year == year %}
      <div>
        <p id="{{ pub.title }}" style="margin-bottom: 0.5em !important;
        line-height: 1.2em !important; font-size: 1.2rem;color: #000000;
        font-family: 'Poppins', sans-serif; margin-bottom: 1.3333333333rem;
        text-rendering: optimizeLegibility; display: block; margin-block-start: 1em;
        margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;">
          {{ pub.title }}
        </p>
        <p style="font-size: 0.9rem !important; margin-bottom: 0.75em !important;
        line-height: 2.0em !important; font-family: 'Poppins', sans-serif;
        margin-bottom: 1.3333333333rem; text-rendering: optimizeLegibility;
        display: block; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px;
        margin-inline-end: 0px;">{{ pub.authors }}</p>
        <p style="font-size: 0.9rem !important; margin-bottom: 0.75em !important;
        line-height: 2.0em !important; font-family: 'Poppins', sans-serif;
        margin-bottom: 1.3333333333rem; text-rendering: optimizeLegibility;
        display: block; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px;
        margin-inline-end: 0px;">{{ pub.conferences }}</p>

        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="{{ pub.href }}"><i class="far fa-file-pdf"></i> Paper</a>
          </li>

          {% if pub.code %}
            <li class="list-inline-item">
              <a href="{{ pub.code }}"><i class="fab fa-github"></i> Code</a>
            </li>
          {% endif %}

          {% if pub.slides %}
            <li class="list-inline-item">
              <a href="{{ pub.slides }}"><i class="far fa-file-powerpoint"></i> Slides</a>
            </li>
          {% endif %}

          {% if pub.data %}
            <li class="list-inline-item">
              <a href="{{ pub.data }}"><i class="fas fa-database"></i> Data</a>
            </li>
          {% endif %}

          {% if pub.video %}
            <li class="list-inline-item">
              <a href="{{ pub.video }}"><i class="fas fa-play-circle"></i> Video</a>
            </li>
          {% endif %}
        </ul>
      </div>
      <br>
    {% endif %}
  {% endfor %}
{% endfor %}